<!DOCTYPE html>
<html>
<head>
  <title>Dovecote</title>
  <%= stylesheet_link_tag    "dovecote/application", media: "all" %>
  <%= javascript_include_tag "dovecote/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
